# Environment files
backend/.env.local
backend/.env.production
backend/.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
backend/.venv/
*.egg-info/
dist/
build/

# Django
backend/db.sqlite3
backend/staticfiles/

# Node
frontend/node_modules/
frontend/dist/

# Misc
.DS_Store
*.log
